@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainTitle {
    @apply text-3xl mb-16 lg:text-7xl font-bold text-center lg:mb-32
}
