@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainTitle {
    @apply text-4xl lg:text-7xl font-bold text-center
}

.projectTitle {
    @apply text-2xl mb-10 lg:text-6xl font-bold text-left
}

.projectSubtitle {
    @apply text-xl mb-6 lg:text-3xl font-bold text-left
}

.projectDescription {
    @apply mb-20 text-left
}