
.item {

    width: 100%;
    position: relative;
    top: 0;
    animation: textChangeMobile 30s steps(5) infinite;
    margin-bottom: 20px;
}

@keyframes textChangeMobile {
    100% {
        top: -280px
    }
}

@keyframes textChange {
    100% {
        top: -460px
    }
}

.item::after {
    content: "";
    background: white;
    position: absolute;
    left: 0;
    height: 84px;
    width: 100%;
    border-left: 4px solid black;
    animation: typing 6s steps(25) infinite;
}

@keyframes typing {
    40% {
        margin-left: -5px;
        left: 100%;
    }

    60% {
        margin-left: -5px;
        left: 100%;
    }
}

@media (min-width: 1024px) {
    .item {
        animation: textChange 30s steps(5) infinite;
        margin-bottom: 20px;
    }

}